@import "reset.scss";
@import "fonts.scss";

/*  font-family: "Playfair Display"; 
    font-family: "Roboto", sans-serif;
   */
:root{
    --mainColor:rgba(255, 255, 255, 1);
    --mainFontFamily:"Playfair Display";
    --textColor:rgba(0, 0, 0, 1);
}
   

body {
    // font-size: 14px;
    font-weight: 400;
    line-height: 1;
    background-color:transparent;  
}
.wrapper > main {
    flex-grow: 1;
}
.wrapper {
    position: relative;
    min-height: 100%;
    overflow: clip;

    display: flex;
    flex-direction: column;
}

[class*="__container"] {
    max-width: 1007px;
    margin: 0 auto;
    padding-inline: 15px;
}
main > *:not(:last-child) {
}

/*============= header ==================== */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background-image: url(../images/section-1/bg-image1x.avif);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

		// .header__container
		&__container {
            max-width: 60.1875rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 23.4096px;
            padding-bottom: 23.4096px;
            // padding-bottom: 0.9375rem;
		}
		// .header__logo
		&__logo {
            color: var(--mainColor);
            font-family: var(--mainFontFamily);
            font-size: 2.25rem;
            
		}
}    

.menu-header {
		// .menu-header__list
		&__list {
            display: flex;
            column-gap: 2rem;
            row-gap: 0.5rem;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap; 
		}
		// .menu-header__link
		&__link {
            color: var(--mainColor);
            font-family: var(--mainFontFamily);
            font-size: 0.75rem; 
            position: relative;
            &::after{
                content: "";
                display: block;
                position: absolute;
                bottom: -0.125rem;
                left: 0;
                width:0;
                height: 1px;
                background-color: var(--mainColor);
                transition: all 0.3s linear;
            }
            &:hover::after{
                width:100%;
            }
		}
}
.burger-icon {
}
/*==== hero section ====*/
.hero {
        height: 100vh;
        position: relative;
        width: 100vw;
        overflow: hidden;

        // background-image: url(../images/section-1/bg-image1x.avif);
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-position: center;

		// .hero__container
		&__container {
            padding-top: 10.9375rem;
            max-width: 60.1875rem;
            display: flex;
            flex-direction: column;
		}
        &__image{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            object-fit: cover;
            object-position: center;

                img{
                    width: 100%;
                }
        }
		// .hero__content
		&__content {
            display: flex;
            flex-direction: column;
            margin-left: auto;
            color: var(--mainColor);
		}
		// .hero__title
		&__title { 
            font-size: 2.9375rem;
            margin-bottom: 1.5rem;
		}
		// .hero__text
		&__text {
            color: var(--mainColor);
            font-size: 0.875rem;
            font-family: var(--mainFontFamily);
            margin-bottom: 3.0313rem;
		}
		// .hero__button
		&__button {
            display: block;
            padding: 0.6875rem 0.8125rem;
            margin: auto;
            border: 1px solid rgba(248, 248, 248, 1);
            transition: all 0.5s linear;

            span{
                color:var(--mainColor);
                font-family: var(--mainFontFamily);
                font-size: 0.8125rem;
            }
            &:hover {
                scale: 1.1;
            }
		}
}


/*======= berger-icon =======*/
.burger-icon {
    display: none;
}    /* 1230 px*/
     @media (width <= 7687.5em){ 
        
    }
    @media (width <= 75em){       /* 1200 px*/
        
       
    }

    @media (width <= 62em){   /* 992 px*/
        
    }
   
    @media (width < 48em){    /* 768 px*/
        .header{  
            &__container {
                padding-block: 0.9375rem;
		    }
            &__logo{
                font-size: 1.875rem; /* font-size: 2.25rem;*/
            }
        }
        .hero{
            &__container{
                padding-top: 9rem;
            }
             
            &__title{
                font-size: 2.5rem;
                margin-bottom: 1rem;
            }
            &__text{
                font-size: 1rem;
                margin-bottom: 2rem;
            }
            &__content {
                margin: auto;
                align-items: center;
                justify-content: center;
            }
        }

       /* === burger-icon ==== */

        .burger-icon{
            display: block;
            width: 1.875rem;
            height: 1.125rem;
            position: relative;
            z-index: 1;
        }
        .burger-icon span,
        .burger-icon::before,
        .burger-icon::after {
            content: "";
            width: 1.875rem;
            height: 0.125rem;
            background-color:var(--mainColor);
            position: absolute;
            right: 0;
            transition: all 0.3s;
        }
        .burger-icon::before{
            top: 0;
        }
        .burger-icon::after{
            bottom: 0;
        }
        .burger-icon span{
            top: 50%;
            translate: 0 -50%;
        }
        
        .burger-icon,
         .logo{
            position: relative;
            z-index: 3;
        }
        .menu-header{
            width: 100%;
            height: 100%;
            background-color:rgb(250, 247, 247);
            position: fixed;
            top: 0;
            left: 100%;
            z-index: 1;
		    overflow: auto;
            padding: 6.25rem 0.9375rem 1.875rem 0.9375rem;
            transition: left 0.3s;
        } 
        .menu-header::before{
            content: "";
            width: 100%;
            height: 4.375rem;
            position: fixed;
            top: 0;
            left: 100%;
            background: var(--mainColor);
            z-index: 2;
            transition: left 0.3s;
        } 
        .menu-header, .menu-header__list{
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            row-gap: 1.875rem;
            
        }
        .menu-header__button {
            padding: 0.6875rem 2.9375rem;
            font-size: 1.0625rem;
        } 
        .menu-header__link{
            font-size: 1.25rem;
            color: var(--textColor);
        }

            /* ===== burger-click =========== */
        [data-menu-header-open].burger-icon span {
            width: 0;
            background-color:var(--textColor);
        }
        [data-menu-header-open] .burger-icon::before {
            rotate: -45deg;
            translate: 0 -50%;
            top: 50%;
            background-color:var(--textColor);;
        }
        [data-menu-header-open] .burger-icon::after {
            rotate: 45deg;
            translate: 0 50%;
            bottom: 50%;
            background-color:var(--textColor);;

        }
        [data-menu-header-open] .menu-header,
        [data-menu-header-open] .menu-header::before {
            left: 0;
        }  
        [data-menu-header-open] .logo{
            color: var(--textColor);;
            font-size: 1.875rem;
        }
        [data-menu-header-open] .header{
            position: fixed;
            top: 0;
            left: 0;    
            right: 0;
            width: 100%;
        }
    }
     /* 640 px*/
    @media (width < 40em){     
        .header{
            &__logo{
                font-size: 1.5625rem; 
            }
        }
        .hero{
            &__container{
             padding-top: 7rem;
            }
            &__title{
                font-size: 2.1875rem;
                margin-bottom: 1rem;
            }
            &__text{
                font-size: 1rem;
                margin-bottom: 1rem;
            }
            &__button {
                padding: 0.5rem 0.5625rem;
            }
        }
    }
    @media (width < 30em){    /* 480 px*/
        .header{
            &__logo{
                font-size: 1.5625rem; 
            }
        }
        .hero{
            &__container{
                padding-top: 4.5rem;
            }
            &__title{
                font-size: 1.5625rem;
                margin-bottom: 0.875rem;
            }
            &__text{
                font-size: 0.875rem;
                margin-bottom: 0.875rem;
            }
            &__button {
                padding: 0.5rem 0.5625rem;
                border: none;
            }
        }
    }

/* ==== section about*/
.about {
   background: rgba(255, 255, 255, 1);
		// .about__container

		&__container {
            max-width: 61.625rem;
            padding-top: 5.25rem;
		}

		// .about__title

		&__title {
            color: var(--textColor);
            font-family: var(--mainFontFamily);
            font-size: 1.875rem;
            text-align: center;
            margin-bottom: 7.1875rem;
		}

		// .about__content

		&__content {
            display: flex;
            justify-content: space-between;
            column-gap: 1.25rem;
            margin-bottom: 8.4375rem;
		}

		// .about__button

		&__button {
            width: 8.25rem;
            padding-block: 0.75rem;
            padding-inline: 3rem;
            display: block;
            margin: auto;
            border: 1px solid var(--textColor);
            transition: all 0.5s linear;

            span{
                color:var(--textColor);
                font-family: var(--mainFontFamily);
                font-size: 0.875rem;
                text-align: center;  
            }
            &:hover {
                scale: 1.1;
            }

		}
}
.content-about {
        // .content-about__text
        &__text {
            display: flex;
            flex-direction: column;
            row-gap: 2.1875rem;
            padding-top: 1.5rem;
            width: 46%;
           
        } 
		// .content-about__title

		&__title {
            color:var(--textColor);
            font-family: var(--mainFontFamily);
            font-size: 1.875rem;
		}
        & p{
            color: var(--textColor);
            font-family: var(--mainFontFamily);
            font-size: 1rem;
        }
		// .content-about__image
		&__image {
            aspect-ratio: 317 / 485;
            img{
                width: 100%;
                 object-fit: cover;
            }
		}

}
    @media (width <= 75em){       /* 1200 px*/  
    }

    @media (width <= 62em){   /* 992 px*/   
    .about{
        &__container{
            padding-top: 4.375rem;
        }
        &__title{
            margin-bottom: 5rem;
        }
        &__content{
            margin-bottom: 4.375rem;
        }
    }
} 
    @media (width < 48em){   /* 768 px*/
       .about{
            &__container{
                padding-top: 3.125rem;
            }
            &__content{
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 2.1875rem;
            }
            &__title{
                margin-bottom: 3.125rem;
            }
        }

        .content-about{
            &__text{
                width: 100%;
                margin-bottom: 2.1875rem;
                padding-top: 0;
            }
            &__image{
                width: 100%;
            }
            &__title{
                text-align: center;
                font-size: 1.5rem;
            }
    } 
    }
    @media (width < 40em){     /* 640 px*/
        
    }
    @media (width < 30em){    /* 480 px*/
        
    }


/* === section===== */

/*===== footer =====*/
footer {
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.9375rem;
    margin-top: 0.9375rem;
}
footer p {
    font-size: 1.25rem;
}
