@import url(reset.css);
@import url(fonts.css);


body{
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    
}
.wrapper {
    position: relative;
    min-height: 100%;
    overflow: clip;

    display: flex;
    flex-direction: column;
   background-color: aliceblue;
}
.wrapper > main{
    flex-grow: 1;
}
.wrapper>*:not(:last-child) {
    margin-bottom: 35px;
} 
/* ----------------------- */
[class*="__container"]{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    padding:25px;
}
h1{
    font-size: 30px;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-bottom: 25px; 
}
.list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.list__item p, .list__item a{
    font-size:25px ;
}
.list__item a{
    transition: all 1s linear;
}
.list__item a:hover{
    text-decoration: underline;
    text-underline-offset: 6px;
    color: rgb(117, 124, 87);
}

.main__container >*:not(:last-child){
    margin-bottom: 20px;
}
.block {
    width: 100%;
    display: flex;
    min-height: 100px;
}
.wrap:nth-child(odd){
    background-color: rgb(189, 212, 205);
}
.wrap:nth-child(even){
    background-color: rgb(147, 182, 171);
}
.text{
    width: 100%;
    padding: 15px;
    background-color: rgb(241, 241, 182);
}
.text p{
    font-size: 20px;
    text-align: center;
    line-height: 1.4;
}
.block__item{
    width: 60px;
    height: 60px;
    background-color: rgb(161, 147, 175);
    border-radius: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.block1 {

    justify-content: center;
    align-items: center;
    gap: 10px;
}
.block2 {
    justify-content:space-around;
    align-items: flex-end;
}
.block3 {
    flex-flow: row wrap;
    gap: 20px 15px; 
}
.block4 {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: stretch;
}
.block4 >.block4__item{
    height: auto;
}
.block5{
    gap: 14px;
    align-content: center;
    flex-wrap: wrap;
    min-height: 250px;
}
/* ------------------ */
.block6{
    gap: 20px;
    align-items: center;
}
.block6__item:nth-child(1){
    flex-basis: 100px;
}
.block6__item:nth-child(2){
    flex-shrink: 2;
}
.block6__item:nth-child(4){
    flex-grow: 3;
}
.block7{
    justify-content: space-evenly;
}

.block7__item:nth-child(1),.block7__item:nth-child(4){
    align-self: flex-end;
}

.block7__item:nth-child(3){
    align-self: flex-start;
}
.block7__item:nth-child(2), .block7__item:nth-child(5){
    align-self: center;
}
.block8{
    justify-content: center;
    gap: 15px;
    align-items: center;
}
.block8__item:nth-child(1){
    order:5;
}
.block8__item:nth-child(5){
    order: 3;
}
.block8__item:nth-child(4){
   order: 1;
}
.block8__item:nth-child(2){
    order:4;
}
/* -------------- */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
footer p{
    font-size: 20px;
}


