@import url(reset.css);
@import url(fonts.css);

/*  font-family: "Praysire", fantasy; 
    font-family: "Montserrat", sans-serif;
    font-family: "Lora", sans-serif;*/

    
body{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    background: rgba(255, 255, 255, 1);
}
.wrapper > main{
    flex-grow: 1;
}
.wrapper {
	position: relative;
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}

[class*="__container"]{
    max-width: 1230px;
    margin: 0 auto;
    padding-inline: 15px;
}
main>*:not(:last-child){
    margin-bottom: 138px;
}
[class*="__title--2"]{
    color: rgba(186, 147, 111, 1);
    font-family: "Lora", sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
}
[class*="__text"]{
    color: rgba(52, 52, 52, 1);
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 142.105263%; /* 27/19 */
}
/*============= header ==================== */
main>*:not(:last-child){
    margin-bottom: 138px;
}
@media (width <= 1200px){
    main>*:not(:last-child){
     margin-bottom: 90px;
    }
}
.header {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 71px;
    position: sticky;
    top: 0;
    left: 0;    
    right: 0;
    z-index: 10;
}
.header__bg-image{ 
    position: absolute;
    top: -121px;
    right:-395px;
    z-index: -1;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    width: 124px;
    height: 44px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.logo p{
    color: rgba(186, 147, 111, 1);
    font-family: "Praysire";
    font-size: 40px;
    font-weight: 400;
    line-height: 100%;
}
.header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 117px;
}
.menu-header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 61px;
    row-gap: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.menu-header__link {
    color: rgba(52, 52, 52, 1);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    position: relative;

    transition: all .5s linear;
}
.menu-header__link::after{
    content: "";
    width: 0;
    height: 1px;
    background-color: rgba(186, 147, 111, 1);
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -3px;

    transition: all .5s linear;
}
.menu-header__link:hover::after,
.menu-header__link:hover{
    width: 100%;
    color: rgba(186, 147, 111, 1);
}
.burger-icon {
}
.menu-header__button {
    background-color: rgba(186, 147, 111, 1);
    color:rgba(255, 255, 255, 1);
    padding: 11px 47px;
    border-radius: 15px;
    max-width: 166px;
    /* height: 42px; */

    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 100%;
    text-align: center;

    transition: all 0.5s linear;
}
.menu-header__button:hover{
    color: rgba(186, 147, 111, 1);
    background-color:rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px 5px rgba(186, 147, 111, 1);
}

/*======= berger-icon =======*/
.burger-icon{
    display: none;
}
    @media (width <= 1230px){
        .header__bg-image{
            display: none;
        }
    }
    @media (width <= 1200px){
        
        .header__menu {
            gap: 70px;
        }
        .menu-header__list{
           column-gap: 40px;
        }
    }
    @media (width <= 1050px){
        .header__menu {
            gap: 50px;
        }
        .menu-header__list{
           column-gap: 30px;
        }
    }
    @media (width <= 992px){
        .header{
            margin-bottom: 50px;
        }
        .header__menu {
            gap: 40px;
        }
       .menu-header__list{
            column-gap: 20px;
        }
        .menu-header__button{
            font-size: 16px;
        }
    }
    @media (width <= 880px){
        .header__menu {
            gap: 25px;
        }
        .menu-header__list{
            column-gap: 15px;
        }
        .menu-header__button{
            font-size: 16px;
             padding: 11px 25px;
        }
        
    }
     @media (width < 768px){
        .header{
            margin-bottom: 30px;
            padding-top: 15px;
            padding-bottom: 15px;   
        }
        /*=== burger-icon ====*/

        .burger-icon{
            display: block;
            width: 30px;
            height: 18px;
            position: relative;
            z-index: 1;
        }
        .burger-icon span,
        .burger-icon::before,
        .burger-icon::after {
            content: "";
            width: 30px;
            height: 2px;
            background-color: rgba(186, 147, 111, 1);
            position: absolute;
            right: 0;
            transition: all 0.3s;
        }
        .burger-icon::before{
            top: 0;
        }
        .burger-icon::after{
            bottom: 0;
        }
        .burger-icon span{
            top: 50%;
            translate: 0 -50%;
        }
        
        .burger-icon,
         .logo{
            position: relative;
            z-index: 3;
        }
        .menu-header{
            width: 100%;
            height: 100%;
            background-color:rgba(250, 250, 250, 1);
            position: fixed;
            top: 0;
            left: 100%;
            z-index: 1;
		    overflow: auto;
            padding: 100px 15px 30px 15px;
            transition: left 0.3s;
        } 
        .menu-header::before{
            content: "";
            width: 100%;
            height: 70px;
            position: fixed;
            top: 0;
            left: 100%;
            background: #ffff;
            z-index: 2;
            transition: left 0.3s;
        } 
        .menu-header, .menu-header__list{
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            row-gap: 30px;
        }
        .menu-header__button {
            padding: 11px 47px;
            font-size: 17px;
        }
        .menu-header__link{
            font-size: 20px;
        }

         /* ===== burger-click =========== */
         [data-menu-header-open] .burger-icon span {
            width: 0;
        }
        [data-menu-header-open] .burger-icon::before {
            rotate: -45deg;
            translate: 0 -50%;
            top: 50%;
        }
        [data-menu-header-open] .burger-icon::after {
            rotate: 45deg;
            translate: 0 50%;
            bottom: 50%;
        }
        [data-menu-header-open] .menu-header,
        [data-menu-header-open] .menu-header::before {
            left: 0;
        } 
        [data-menu-header-open] .header{
            position: sticky;
            top: 0;
            left: 0;
            right: 0;
            z-index: 5; 
        }
        [data-menu-header-open] body {
            overflow: hidden;
        }
    }
    
/*============== hero section ====================*/
.hero{
    /* position: relative; */
    overflow: hidden;
    /* position: relative; */
}
.hero__bg-image{
    position: absolute;
    top: 419px;
    left: -399px;
    z-index: -1;
}
.hero__container {
    display: flex;
    column-gap: 27px;
    align-items: center;
}
.hero__content {   
    display: flex;
    flex-direction: column;
    padding-top: 71px;
    padding-bottom: 57px;
    flex: 1 1 57%;
}
.hero__title{
    color: rgba(186, 147, 111, 1);
    font-family: "Lora", sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;

    margin-bottom: 70px;
}
.hero__text{
    margin-bottom: 59px;
}
.hero__button{
   width: 186px;
   height: 100px;
   display: inline-flex;
}
.hero__button::after{
    content: "";
    background-image: url("../images/icons/right-arrow.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    margin-left: 6px;
    margin-top: 38px; 
}
.hero__button span{
    color: rgba(52, 52, 52, 1);
    font-family:"Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 158.823529%; /* 27/17 */
    margin-top: 37px;
    margin-left: -39px;

   
    transition: all 0.5s linear;
}
.hero__button:hover span{
    text-decoration: underline;
    text-underline-offset: 3px;  
    color: rgba(186, 147, 111, 1);
    scale: 1.1;
}

.hero__image{
    /* flex-basis: 486px;*/
    flex: 1 1 40.5%;
}
 .hero__image img  {
    /* display: block; */
    aspect-ratio: 486 / 647;
    object-fit: cover;
    border-radius: 33px;
   
} 
@media (width <= 1230px) {
    .hero__bg-image{
        display: none;
    } 
}
@media (width <= 1200px){
    .hero__title{
        font-size: 45px;
        margin-bottom: 40px;
    }
    .hero__text{
        margin-bottom: 40px;
    }
    .hero__content{
        padding-top: 65px;
        padding-bottom: 50px;
    }
    
}
@media (width <= 1095px){
    .hero__image{
        flex: 1 1 45%;
    }
    .hero__content{
        flex: 1 1 55%;
        padding-top:40px;
        padding-bottom:40px;
    }
    .hero__title{
        font-size: 40px;
        margin-bottom: 40px;
    }
}
@media (width <= 992px){
    .hero__content{
        flex: 1 1 50%;
        padding-top:20px;
        padding-bottom: 20px;
    }
    .hero__image{
        flex: 1 1 50%;
    }
    .hero__title{
        font-size: 35px;
    
    }
}
@media (width <= 930px){
    .hero__title{
        font-size: 35px;
        margin-bottom: 35px;
    }
    .hero__text{
        margin-bottom: 35px;
    }
    .hero__content{
        flex: 1 1 45%;
    }
    .hero__image{
        flex: 1 1 45%;
        align-self: flex-start;
    }
    .hero__image img{
        object-fit: contain;
    }
}
@media (width < 768px){
    .hero__container{
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .hero__content{
        max-width: 100%;
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        padding-top: 0;
        padding-bottom: 0;

        /* order: 2; */
    }
    .hero__title{
        /* position: absolute;
        top: 0;
        left: 15px;
        margin-bottom: 0; */
        /* text-align: center; */
        color: rgba(186, 147, 111, 1);
        font-family: 'Lora';
    }
    .hero__image{
        flex: 1 1 100%;
        margin: auto;
        /* order: 1; */
        /* margin-bottom: 20px;
        margin-top: 57px; */ 
    }
     .hero__image img{
        object-fit: cover;
        width: 100vw;
    }
}
@media (width < 480px){
    .hero__title{
        font-size: 30px;
        text-align: center;
    }
}

/* ====practice section */
.practice {
    position: relative;
}
.practice__container {
    display: flex;
    column-gap: 40px;
}
.practice__image {
    flex: 1 1 53%;
    flex: 1 1 600px;
}
.practice__image img{
    aspect-ratio: 600 / 602;
    border-radius: 33px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}
.practice__content {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex: 1 1 47%;
}
.practice__title {
   margin-bottom: 55px;
}
.practice__text {
    margin-bottom: 46px;
}
.practice__text--subtext{
    font-size: 17px;
    margin-bottom: 43px;
    line-height: 158.823529%; /* 27/17 */
}
.practice__text--subtext span{
    color:rgba(186, 147, 111, 1);
    font-weight: 600;
}
.practice__button {
    width: 200px;
    background-color: rgba(186, 147, 111, 1);
    border-radius: 15px;
    padding: 13px 47px;

    color: rgba(255, 255, 255, 1);
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 100%;
    text-transform: capitalize;
    text-align: center;

    transition: all 0.5s linear;
}
.practice__button:hover{
    box-shadow: 0 0 10px 5px rgba(186, 147, 111, 1);
    color: rgba(186, 147, 111, 1);
    background-color: rgba(255, 255, 255, 1);
}
.practice__bg-image {
    position: absolute;
    top: 289px;
    right: -401px;
    z-index: -1;
}

@media (width <= 1230px) {
    .practice__bg-image{
        display: none;
    } 
}
@media (width <= 1200px){

    .practice__title {
        margin-bottom: 40px;
        margin-bottom: 30px;
    }
    .practice__text{
        margin-bottom: 35px;
    }
}
@media (width <= 1095px){
    .practice__container {
        column-gap: 25px;
    }
    .practice__content >*:not(:last-child){
        margin-bottom: 20px;

    }
    .practice__text--subtext{
        font-size: 14px;
    }
    [class*="__text"]{
        font-size: 14px;
    }
}
@media (width <= 992px){
     
}
@media (width <= 930px){
    .practice__content{
        flex: 1 1 45%;
        /* padding-top: 15px;
        padding-bottom: 15px; */
    }
    .practice__image {
        flex: 1 1 55%;
        align-self: flex-start;
    }
    .practice__image img{
        object-fit: contain;
    }
    .practice__content>*:not(:last-child){
        margin-bottom: 20px;
    }
    [class*="__title--2"]{
        font-size: 30px;
    }

}
@media (width < 768px){
    .practice__container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .practice__content{
        align-items: center;
        margin-bottom: 20px;
    }
    .practice__content>*:not(:last-child){
        margin-bottom: 20px;
    }
    .practice__text{
       height: auto;
    }
    .practice__title{
        font-family: 'Lora', sans-serif;
        width:  100%;
        text-align: justify;
    }
    .practice__image {
        flex: 1 1 100%;
        margin: auto;
    }
    .practice__image img{
        object-fit: cover;
        width: 100vw;
    }
}

/* ===lesson section===== */
.yoga-lesson {
    
}
.yoga-lesson__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.yoga-lesson__title {
    margin-bottom: 32px;
}
.yoga-lesson__text {
    font-size: 17px;
    line-height: 158.823529%; /* 27/17 */
    margin-bottom: 64px;
}
 .yoga-lesson__block{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    column-gap: 41px;
    row-gap: 45px;
}
.yoga-lesson__item{
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    flex: 1 1 300px;
    width: 100%;
}

.yoga-lesson__image img {
    display: block;
    border-radius: 33px;
    object-fit: cover;
    margin-bottom: 14px;
    width: 100%;
}
/* .yoga-lesson__beginner{
    aspect-ratio: 385 / 477;
}
.yoga-lesson__regular{
    aspect-ratio: 1;
}
.yoga-lesson__individual{
    aspect-ratio: 362 / 477;
} */
.yoga-lesson__name {
    color: rgba(186, 147, 111, 1);
    font-family: "Lora", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 100%;
    position: relative;
}
.yoga-lesson__name::after{
    content: "";
    width: 0%;
    height: 1px;
    background-color: rgba(186, 147, 111, 1);
    margin-bottom: -4px;
    position: absolute;
    bottom: 0;
    left: 0;

    transition: all 0.5s linear;
}
.yoga-lesson__name:hover::after{
    width: 50%;

}
.yoga__item {
}
@media (width <= 1230px){
    .yoga-lesson__block {
        column-gap: 20px;
        row-gap: 45px;
    }
}
@media (width < 768px){
    .yoga-lesson__content{
        align-items: center;
    }
    .yoga-lesson__item{
        flex: 1 1 400px;
    }
    .yoga-lesson__block{
        align-items: flex-start;
        justify-content: center;
    }
}
@media (width < 480px){
    .yoga-lesson__block{
        
        column-gap: 41px;
        row-gap: 45px;
    }
    .yoga-lesson__text {
        margin-bottom: 45px;
    }
}
/* ====schedule===== */
.schedule__bg-image{
    position: absolute;
    top: -122px;
    left: -400px;
    z-index: -1;
}
.schedule {
    position: relative;
}
.schedule__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 41px;
    
}
.schedule__title {
    margin-bottom: 16px;
}
.schedule__timetable {
    display: flex;
    column-gap: 34px;
}
.timetable__content{
    overflow-x: auto;
    display: block;
    /* margin-top: auto;
    margin-bottom: auto; */
   margin-block: auto;
}

.timetable__block {
    width: 100%;
    min-width: 600px;
    margin: auto 0;
    border-collapse:collapse;

}
.timetable__icon{
    width: 15px; 
    height: 15px;
    vertical-align: baseline;
    transition: all 0.3s;
}
.timetable__item {
    max-width: 657px;
    border-top: 1px solid rgba(186, 147, 111, 1); 
    position: relative;
}
.timetable__item--sunday{
    border-bottom: 1px solid rgba(186, 147, 111, 1); 
}
.timetable__item td{
    padding-top: 18px;
    padding-bottom: 19px;
}
.timetable__day, .timetable__event,
.timetable__time{
    color: rgba(52, 52, 52, 1);
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 158.823529%; /* 27/17 */
    text-transform: uppercase;
    word-wrap: normal;
}
.timetable__event{
    padding-left: 45px;
}
.timetable__icon:hover{
    scale: 1.2;
    
}
.timetable__time {
    text-align: right;
}
.timetable__image{
    flex: 1 1 42%;
}
.timetable__image img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 503 / 602;
    border-radius: 33px;
}
@media (width <= 1230px) {
    .schedule__bg-image{
        display: none;
    } 
}
@media (width <= 1150px){
   .timetable__item td{
        padding-top: 15px;
        padding-bottom: 15px;
    }
} 
@media (width <= 1030px){
    
    /* .timetable__block {
        width: 90%;
        margin: auto;  
    } */
    .timetable__image img{
        width: 100%;
        
    }
}
@media (width <= 935px){
     .schedule__timetable {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        row-gap: 34px;
        column-gap: 0;
     }  
    .timetable__image img{
        width: 100vw;  
    }
    .timetable__content{
        width: 100%;
    }
}
@media (width < 768px){
    .timetable__time {
        text-align: center;
    }
    
    
}
@media (width < 700px){
  
}

/*===== footer =====*/
.footer__container{
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 20px;
}
