@use "_typo.scss" as *;
@use "_mixins.scss" as *;

// title
.title {
	@include typo("h1-32");
	&--center {
		text-align: center;
	}
}
// items
.items {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(toRem(380), 100%), 1fr));
	gap: toRem(36);
}
// item
.item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: toRem(32);

	&__link {
		width: 100%;
		aspect-ratio: 440 / 574;
		// width: toRem(440);
		// height: toRem(574);
		background: var(--black-7);
		display: flex;
		align-items: center;
		justify-content: center;
		&--top {
			align-items: flex-start;
		}
		&--bottom {
			align-items: flex-end;
		}
		&--bottom-left {
			align-items: flex-end;
			justify-content: flex-start;
		}
		&--bottom-right {
			align-items: flex-end;
			justify-content: flex-end;
		}
	}
	&__image {
	}

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: toRem(12);
	}

	&__title {
		@include typo("h3-16");
		text-transform: uppercase;
	}

	&__link-title {
		html:not([data-fls-touch]) & {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__rating {
	}

	&__price {
		@include typo("h2-20");
	}
}

// rating
.rating {
	display: flex;
	gap: toRem(8);
	justify-content: center;
	align-items: center;

	&__item {
		font-size: toRem(12);

		&--icon-star {
		}
	}
}
// посилання жирне
.link-bold {
	span {
		position: relative;
		text-transform: uppercase;
		@include typo("h3-16", 700);
		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 100%;
			left: 50%;
			width: 0;
			height: toRem(2);
			background-color: var(--black-1);
			transition: all 0.5s;
		}
	}
	// html:not([data-fls-touch]) & {
	// 	&:hover {
	// 		span::after {
	// 			width: 100%;
	// 			left: 0%;
	// 		}
	// 	}
	// }
}

// social-media
.social-media {
	// .social-media__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: toRem(32);
	}
	// .social-media__item
	&__item {
	}
	// .social-media__link
	&__link {
		display: block;
		html:not([data-fls-touch]) & {
			&:hover {
				color: var(--black-2);
				scale: 1.3;
				transition: all 0.4s ease;
			}
		}
	}
	// .social-media__link--icon-facebook
	&__link--icon-facebook {
	}
	// .social-media__link--icon-twitter
	&__link--icon-twitter {
	}
	// .social-media__link--icon-instagram
	&__link--icon-instagram {
	}
	// .social-media__link--icon-pinterest
	&__link--icon-pinterest {
	}
}
// more link
.more {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	gap: toRem(9);
	@include typo("h3-16");
	color: var(--black-3);
	transition: color 0.5s;

	&::before {
		font-size: toRem(9);
		translate: 0 1px;
		color: var(--black-1);
	}
	html:not([data-fls-touch]) & {
		&:hover {
			color: var(--black-1);
		}
	}
}
