@use "_typo.scss" as *;
@use "_mixins.scss" as *;
@use "_components" as *;

.footer {
    // .footer__container
    &__container {
    }
    // .footer__body
    &__body {
    }
    // .footer__bottom
    &__bottom {
    }
}
.body-footer {
    border-top: toRem(1) solid var(--black-5);
    border-bottom: toRem(1) solid var(--black-5);
    @include adaptiveValue("padding-top", 112, 35);
    @include adaptiveValue("padding-bottom", 72, 35);

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(toRem(258), 100%), 1fr));
    @include adaptiveValue("column-gap", 120, 25);
    @include adaptiveValue("row-gap", 50, 30);

    @media (width < toEm(595)) {
        display: flex;
        flex-direction: column;
    }

    // .body-footer__content
    &__content {
    }
}
.content-footer {
    // .content-footer__title
    &__title {
        @include typo("h2-20");
        font-weight: 700;
        color: var(--black-1);
        // &:not(:last-child) {
        //     @include adaptiveValue("margin-bottom", 28, 15);
        // }
    }
    // .content-footer__list
    &__list {
       
            @include adaptiveValue("margin-top", 28, 15);

        overflow: hidden;
        transition: all 0.4s;
        @media (width <= toEm(595)) {
            // height: 0;
        }
    }
    // .content-footer__item
    &__item {
        @include typo("h3-16", 500);
        color: var(--black-3);
        &:not(:last-child) {
            margin-bottom: toRem(28);
        }
    }
    // .content-footer__link
    &__link {
        html:not([data-fls-touch]) & {
            &:hover {
                text-decoration: underline;
                text-underline-offset: toRem(2.5);
            }
        }
    }
    // .content-footer__button
    &__button {
        @media (width > toEm(595)) {
            cursor: default;
            &::before {
                display: none;
            }
        }
        @media (width <= toEm(595)) {
            display: flex;
            width: 100%;
            justify-content: space-between;
            flex-direction: row-reverse;
            &::before {
                rotate: 90deg;
                z-index: -1;
            }
        }
    }
}
.bottom-footer {
    @include adaptiveValue("padding-block", 112, 35);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: toRem(25);
    justify-content: space-between;

    @media (width <= toEm(620)) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    // .bottom-footer__text
    &__text {
        @include typo("h3-16", 500);
        color: var(--black-3);

        @media (width < toEm(595)) {
            // text-wrap: balance;
            text-wrap: pretty;
        }
    }
    // .bottom-footer__social
    &__social {
    }
}
