@use "_typo.scss" as *;
@use "_mixins.scss" as *;
@use "_components" as *;

.header {
    background-color: #fff;
    // .header__container
    &__container {
        display: flex;
        align-items: center;
        // min-height: toRem(164);
        padding-block: toRem(10);
        @include adaptiveValue("min-height", 164, 70, 0, 1392, 670); /* адаптивна висота шапки */
        @include adaptiveValue("gap", 80, 20, 0, 1392, 768); /* адаптивні відступи між елементами */
    }

    // .header__logo
    &__logo {
        flex-shrink: 0;
        flex-basis: toRem(152);
        overflow: hidden;
        @media (width < toEm(992)) {
            flex-basis: toRem(28);
        }
    }
    // .header__image-logo
    &__image-logo {
        max-width: none; /* обов'язково бо не спрацює */
        flex-basis: toRem(152);
    }
    // .header__search
    &__search {
    }
    // .header__menu
    &__menu {
        flex-grow: 1;
        @media (width <= toEm(670)) {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: none;
        }
    }
    // .header__action
    &__action {
    }
}
.search-header {
    flex-shrink: 0;
    border-bottom: toRem(1) solid var(--black-5);
    position: relative;
    @media (width > toEm(670)) {
        flex-basis: max(18.965517%, toRem(180)); /* 264/1392 */
    }
    @media (width <= toEm(670)) {
        flex-grow: 1;
        flex-basis: max(18.965517%);
    }
    @media (width <= toEm(370)) {
        &::before {
            display: none;
        }
    }

    &::before {
        position: absolute;
        top: 50%;
        left: toRem(2);
        transform: translate(0, -50%);
    }
    // .search-header__input
    &__input {
        height: toRem(44);
        @media (width > toEm(370)) {
            padding-left: toRem(32);
        }
        &::placeholder {
            color: var(--black-3);
        }
        &:focus {
            &::placeholder {
                opacity: 0;
            }
        }
        //  Адаптація placeholder для малих екранів

        @media (width < toEm(340)) {
            &[type="search"] {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &[type="search"]::placeholder {
                @include adaptiveValue("font-size", 16, 14, 0, 340, 320);
                text-overflow: ellipsis;
            }
        }
    }
}

.menu {
    // .menu__icon
    &__icon {
    }
    // .menu__list
    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @include adaptiveValue("column-gap", 44, 20, 0, 1392, 768);
        row-gap: toRem(4);
    }

    // .menu__item
    &__item {
        position: relative;
        html:not([data-fls-touch]) & {
            &:hover {
                .menu__link {
                    span::after {
                        width: 100%;
                        left: 0%;
                    }
                }
                .sub-menu {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all;
                    transform: scale(1);
                    translate: 0 0;
                }
            }
        }
    }
    // .menu__link
    &__link {
        @extend .link-bold;
        &.active {
            @include typo("h3-16", 800);
        }
    }

    // .menu__sub-link
    &__sub-link {
        font-size: toRem(10);
        transition: rotate 0.3s;
        html:not([data-fls-touch]) & {
            cursor: default;
        }
        [data-sub-menu-open] & {
            rotate: -90deg;
            translate: 0 toRem(-2);
        }
    }
}
.icon-menu {
    @media (width > toEm(670)) {
        display: none;
    }
    @media (width <= toEm(670)) {
        flex-basis: toRem(30);
        flex-shrink: 0;
        height: toRem(18);
        position: relative;
        &::before,
        &::after,
        span {
            content: "";
            width: 100%;
            height: toRem(2);
            left: 0;
            position: absolute;
            background-color: var(--black-1);
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            top: 50%;
            transform: translate(0, -50%);
        }
    }
}
.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: toRem(150);
    padding-top: toRem(10);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    translate: 0 toRem(10);
    transform: scale(0);
    transition: all 0.6s;

    [data-sub-menu-open] & {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transform: scale(1);
        translate: 0 0;
    }

    // .sub-menu__list
    &__list {
        padding: toRem(10);
        box-shadow: 0 toRem(3) toRem(3) toRem(3) var(--black-6);
        background-color: var(--black-7);
        border-radius: toRem(5);
    }
    // .sub-menu__item
    &__item {
        &:not(:last-child) {
            margin-bottom: toRem(10);
        }
    }

    // .sub-menu__link
    &__link {
        @include typo("h13-16");

        html:not([data-fls-touch]) & {
            &:hover {
                text-decoration: underline;
                text-underline-offset: toRem(2);
            }
        }
    }
}
.action-header {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 46, 20, 0, 1392, 768);
    @include adaptiveValue("gap", 20, 10, 1, 768, 320);
    // .action__link
    &__link {
        display: flex;
        align-items: center;
        gap: toRem(6);
        @extend .link-bold;
        html:not([data-fls-touch]) & {
            &:hover {
                span::after {
                    width: 100%;
                    left: 0%;
                }
            }
        }
        @media (width < toEm(768)) {
            &::before {
                @include typo("h2-20");
            }

            span {
                display: none;
            }
        }
    }
}
