@use "_typo.scss" as *;
@use "_mixins.scss" as *;
@use "_components" as *;

[data-menu-open] body {
    overflow: hidden;
}

.header {
    background-color: rgba(255, 255, 255, 1.0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    &--scroll {
        box-shadow: 0px 0px 9px 10px rgb(47, 48, 44, 0.2);
        .header__container {
            min-height: toRem(70);
            transition: min-height 0.4s;
            backdrop-filter: blur(5px);
        }
    }

    // .header__container
    &__container {
        display: flex;
        align-items: center;
        // min-height: toRem(164);
        padding-block: toRem(10);
        @include adaptiveValue("min-height", 164, 70, 0, 1392, 670); /* адаптивна висота шапки */
        @include adaptiveValue("gap", 80, 20, 0, 1392, 768); /* адаптивні відступи між елементами */
        transition: min-height 0.4s;
    }

    // .header__logo
    &__logo {
        position: relative;
        z-index: 5;
        flex-shrink: 0;
        flex-basis: toRem(152);
        overflow: hidden;
        @media (width < toEm(992)) {
            flex-basis: toRem(28);
        }
    }
    // .header__image-logo
    &__image-logo {
        max-width: none; /* обов'язково бо не спрацює */
        flex-basis: toRem(152);
    }
    // .header__search
    &__search {
    }
    // .header__menu
    &__menu {
        flex-grow: 1;
        @media (width <= toEm(670)) {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 100%;
            background-color: var(--black-6);
            padding: toRem(100) toRem(15) toRem(30) toRem(15);
            overflow: auto;
            transition: left 0.5s;
            &::before {
                content: "";
                width: 100%;
                height: toRem(70);
                background-color: var(--black-8);
                position: fixed;
                top: 0;
                left: 100%;
                z-index: 3;
                transition: left 0.5s;
            }
            [data-menu-open] & {
                left: 0;
                &::before {
                    left: 0;
                }
            }
        }
    }
    // .header__action
    &__action {
    }
}
.search-header {
    flex-shrink: 0;
    border-bottom: toRem(1) solid var(--black-5);
    position: relative;
    z-index: 5;
    @media (width > toEm(670)) {
        flex-basis: max(18.965517%, toRem(180)); /* 264/1392 */
    }
    @media (width <= toEm(670)) {
        flex-grow: 1;
        flex-basis: max(18.965517%);
    }
    @media (width <= toEm(370)) {
        &::before {
            display: none;
        }
    }

    &::before {
        position: absolute;
        top: 50%;
        left: toRem(2);
        transform: translate(0, -50%);
    }
    // .search-header__input
    &__input {
        height: toRem(44);
        @media (width > toEm(370)) {
            padding-left: toRem(32);
        }
        &::placeholder {
            color: var(--black-3);
        }
        &:focus {
            &::placeholder {
                opacity: 0;
            }
        }
        /* видалення хрестика з placeholder */

        // @media (width < toEm(370)){
        // &::-webkit-search-decoration,
        // &::-webkit-search-cancel-button,
        // &::-webkit-search-results-button,
        // &::-webkit-search-results-decoration {
        // 		display: none;
        // 	}
        // }

        //  Адаптація placeholder для малих екранів

        @media (width < toEm(340)) {
            // &[type="search"] {
            //     white-space: nowrap;
            //     overflow: hidden;
            //     text-overflow: ellipsis;

            // }
            // &[type="search"]::placeholder {
            //     @include adaptiveValue("font-size", 16, 13, 0, 340, 320);
            //     text-overflow: ellipsis;
            // }
            &[type="search"] {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }
            &[type="search"]::-webkit-search-decoration,
            &[type="search"]::-webkit-search-cancel-button,
            &[type="search"]::-webkit-search-results-button,
            &[type="search"]::-webkit-search-results-decoration {
                display: none;
            }
        }
    }
}

.menu {
    // .menu__list
    &__list {
        display: flex;
        flex-wrap: wrap;
        row-gap: toRem(4);
        @include adaptiveValue("column-gap", 44, 20, 0, 1392, 768);

        @media (width <= toEm(670)) {
            flex-direction: column;
            row-gap: toRem(20);
        }
    }
    // .menu__icon
    &__icon {
    }
    // .menu__item
    &__item {
        display: flex;
        align-items: center;
        gap: toRem(7);
        position: relative;

        html:not([data-fls-touch]) & {
            &:hover {
                .menu__link {
                    span::after {
                        width: 100%;
                        left: 0%;
                    }
                }
                .sub-menu {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all;
                    transform: scale(1);
                    translate: 0 0;
                }
            }
        }
        @media (width < toEm(670)) {
            // justify-content: space-between;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            gap: toRem(10);
        }
    }
    // .menu__link
    &__link {
        @extend .link-bold;
        @media (width <= toEm(670)) {
            span {
                @include typo("h2-24");
            }
        }
    }

    // .menu__sub-link
    &__sub-link {
        display: flex;
        align-items: center;
        transition: rotate 0.3s;
        translate: 0 toRem(-0.5);

        html:not([data-fls-touch]) & {
            cursor: default;
        }
        [data-sub-menu-open] & {
            rotate: -90deg;
            translate: 0 toRem(-1);

            @media (width <= toEm(670)) {
                translate: 0 toRem(3);
            }
        }
        @media (width > toEm(670)) {
            font-size: toRem(10);
        }

        @media (width <= toEm(670)) {
            translate: 0 toRem(2);
            rotate: 90deg;
            transition: rotate 0.3s;
        }
    }
}
.icon-menu {
    @media (width > toEm(670)) {
        display: none;
    }
    @media (width <= toEm(670)) {
        flex-basis: toRem(30);
        flex-shrink: 0;
        height: toRem(18);
        position: relative;
        &::before,
        &::after,
        span {
            content: "";
            width: 100%;
            height: toRem(2);
            right: 0;
            position: absolute;
            background-color: var(--black-1);
            transition: all 0.3s;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            top: 50%;
            transform: translate(0, -50%);
        }
        [data-menu-open] & {
            &::before {
                rotate: -45deg;
                top: 50%;
                translate: 0 -45%;
            }
            &::after {
                rotate: 45deg;
                bottom: 50%;
                translate: 0 45%;
            }
            span {
                width: 0;
            }
        }
    }
}
.sub-menu {
    @media (width > toEm(670)) {
        position: absolute;
        top: 100%;
        left: 0;
        width: toRem(150);
        padding-top: toRem(5);
        pointer-events: none;
        translate: 0 toRem(10);
        opacity: 0;
        visibility: hidden;
        // transform: scale(0);
        transition: all 0.6s;

        [data-sub-menu-open] & {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            // transform: scale(1);
            translate: 0 0;
        }
    }
    @media (width <= toEm(670)) {
        width: 100%;
        display: flex;
        flex-grow: 1;
        overflow: hidden;
        transition: all 0.5s;
        // display: none;

        [data-sub-menu-open] & {
            // display: block;
        }
    }

    // .sub-menu__list
    &__list {
        display: flex;
        flex-direction: column;
        padding: toRem(10);
        box-shadow: 0 toRem(3) toRem(3) toRem(3) var(--black-5);
        background-color: var(--black-7);
        border-radius: toRem(5);
        row-gap: toRem(10);

        @media (width <= toEm(670)) {
            flex-basis: 100%;
            align-items: flex-end;
            row-gap: toRem(15);
        }
    }
    // .sub-menu__item
    &__item
    // .sub-menu__link
    &__link {
        @include typo("h13-16");
        @media (width <= toEm(670)) {
            span {
                @include typo("h2-20");
            }
        }
        html:not([data-fls-touch]) & {
            &:hover {
                text-decoration: underline;
                text-underline-offset: toRem(2);
            }
        }
        @media (width <= toEm(670)) {
            @include typo("h2-20");
            text-transform: capitalize;
            color: var(--black-1);
        }
    }
}
.action-header {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 5;
    @include adaptiveValue("gap", 46, 20, 0, 1392, 768);
    @include adaptiveValue("gap", 20, 10, 1, 768, 320);

    // .action__link
    &__link {
        display: flex;
        align-items: center;
        gap: toRem(6);
        @extend .link-bold;
        html:not([data-fls-touch]) & {
            &:hover {
                span::after {
                    width: 100%;
                    left: 0%;
                }
            }
        }
        @media (width < toEm(768)) {
            &::before {
                @include typo("h2-20");
            }
            span {
                display: none;
            }
        }
    }
}
