@font-face {
  font-family: 'icomoon';
  src:  url("../fonts/icomoon.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class*="--icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
    &::before{
        font-family: 'icomoon' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
  
}

[class*="--icon-cart"]::before {
  content: "\e900";
}
[class*="--icon-chevron-right"]::before {
  content: "\e901";
}
[class*="--icon-facebook"]::before {
  content: "\e902";
}
[class*="--icon-favorite"]::before {
  content: "\e903";
}
[class*="--icon-grid"]::before {
  content: "\e904";
}
[class*="--icon-instagram"]::before {
  content: "\e905";
}
[class*="--icon-list"]::before {
  content: "\e906";
}
[class*="--icon-minus"]::before {
  content: "\e907";
}
[class*="--icon-pinterest"]::before {
  content: "\e908";
}
[class*="--icon-plus"]::before {
  content: "\e909";
}
[class*="--icon-search"]::before {
  content: "\e90a";
}
[class*="--icon-select"]::before {
  content: "\e90b";
}
[class*="--icon-star"]::before {
  content: "\e90c";
}
[class*="--icon-twitter"]::before {
  content: "\e90d";
}
