@use "_mixins.scss" as *;

// @mixin typo($size, $line-height, $letter-spacing: null, $font-weight: null) {
//     font-size: $size;
//     line-height: $line-height;
//     @if $letter-spacing != null {
//         letter-spacing: $letter-spacing;
//     }
//     @if $font-weight != null {
//         font-weight: $font-weight;
//     }
// }
@mixin typo($type: "h1", $weight: 500) {
    @if $type == "h1-title" {
        font-size: toRem(96);
        line-height: 1;
        font-weight: 800;
        text-transform: uppercase;
    } @else if $type == "h1-32" {
        @include adaptiveValue("font-size", 32, 24);
        // font-size: toRem(32);
        line-height: 1.25;
        font-weight: 800;
        text-transform: uppercase;
    } @else if $type == "h2-24" {
        // font-size: toRem(24);
        @include adaptiveValue("font-size", 24, 18);
        line-height: 1.5;
        font-weight: 800;
        text-transform: uppercase;
    } @else if $type == "h2-20" {
        // font-size: toRem(20);
        @include adaptiveValue("font-size", 20, 16);
        line-height: 1.4;
        font-weight: 700;
        text-transform: uppercase;
    } @else if $type == "h3-16" {
        font-size: toRem(16);
        line-height: 1.25;
        font-weight: $weight;
    } @else if $type == "h4-14" {
        font-size: toRem(14);
        line-height: 1.42;
        font-weight: $weight;
    } @else {
        line-height: 1.25;
    }
}
