:root{
    --black-1: #2F302C;
    --black-2: #6A6A6A;
    --black-3: #7E7F7C;
    --black-4: #AAAAAA;  
    --black-5: #D4D4D4;
    --black-6: #E8E8E8;
    --black-7: #F6F6F6;
    --black-8: #FFFFFF;
}