@import url(reset.css);



.wrapper {
    max-width: 3450px;
    min-height: 100%;   
    overflow: clip;
}
.header{
    padding-block:25px;
}
h1{
    font-size: 45px;
    color: rgb(53, 9, 95);
    text-align: center;
    text-transform: uppercase;
}
[class*="container"]{
    margin: auto;
}
.main {
    position: relative;
}
.sky-block{
    width: 100%;
    min-height: 700px;
    background: linear-gradient(90deg,rgb(169, 198, 211) 0%, rgba(75, 135, 191, 1) 50%, rgb(83, 206, 237) 100%);
    position: relative;
}
.sun {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: radial-gradient(circle,rgba(247, 228, 10, 1) 0%, rgba(234, 250, 59, 1) 68%, rgba(228, 252, 70, 0.83) 100%);   
    box-shadow: 0 0 100px rgba(228, 252, 70, 0.83);
    position:absolute;
    top: 100px;
    left: 510px;
}
.sun span:nth-child(1), .sun span:nth-child(2),
.sun span:nth-child(3){
    display: inline-block;
    width: 45px;
    height: 5px;
    background-color: rgba(228, 252, 70, 0.83);
    box-shadow: 3px 3px 3px 6px  rgba(228, 252, 70, 0.83);
    border-radius: 5px;
    position: absolute;
    top: -12px;
    left: -44px;
    transform: rotate(31deg);
}
.sun span:nth-child(1)::before{
    content: "";
    width: 50px;
    height: 5px;
    background-color: rgba(228, 252, 70, 0.83);
    box-shadow: 3px 3px 3px 5px  rgba(228, 252, 70, 0.83);
    border-radius: 5px;
    position: absolute;
    top: 47px;
    left: 3px;
    transform: rotate(340deg);
}
.sun span:nth-child(1)::after{
    content: "";
    width: 50px;
    height: 5px;
    background-color: rgba(228, 252, 70, 0.83);
    box-shadow: 3px 3px 3px 5px  rgba(228, 252, 70, 0.83);
    border-radius: 5px;
    position: absolute;
    top: 88px;
    left: 33px;
    transform: rotate(304deg);
}
.sun span:nth-child(2){
    position: absolute;
    top: -42px;
    left: 6px;
    transform: rotate(77deg);
}
.sun span:nth-child(2)::before{
    content: "";
    width: 50px;
    height: 5px;
    background-color: rgba(228, 252, 70, 0.83);
    box-shadow: 3px 3px 3px 5px  rgba(228, 252, 70, 0.83);
    border-radius: 5px;
    position: absolute;
    top: -86px;
    left: 72px;
    transform: rotate(69deg);
}
.sun span:nth-child(2)::after{
    content: "";
    width: 50px;
    height: 5px;
    background-color: rgba(228, 252, 70, 0.83);
    box-shadow: 3px 3px 3px 5px  rgba(228, 252, 70, 0.83);
    border-radius: 5px;
    position: absolute;
    top: -59px;
    left: 20px;
    transform: rotate(44deg);

}
.sun span:nth-child(3){
    position: absolute;
    top: 72px;
    left: 111px;
    transform: rotate(195deg);
}
.sun span:nth-child(3)::before{
    content: "";
    width: 50px;
    height: 5px;
    background-color: rgba(228, 252, 70, 0.83);
    box-shadow: 3px 3px 3px 5px  rgba(228, 252, 70, 0.83);
    border-radius: 5px;
    position: absolute;
    top: -86px;
    left: 96px;
    transform: rotate(94deg);
}
.sun span:nth-child(3)::after{
    content: "";
    width: 50px;
    height: 5px;
    background-color: rgba(228, 252, 70, 0.83);
    box-shadow: 3px 3px 3px 5px  rgba(228, 252, 70, 0.83);
    border-radius: 5px;
    position: absolute;
    top: -59px;
    left: 20px;
    transform: rotate(44deg);

}

.cloud {
    width: 200px;
    height: 100px;
    background-color: #fff;
    border-radius: 45px;
    position: relative;
}

.cloud--1{
    position: absolute;
    top: 90px;
    left: 1000px;
}
.cloud--1::before{
    content: "";
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color:#fff;
    position: absolute;
    top: -20px;
    left: 129px;
}
.cloud--1::after{
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 45%;
    background-color:#fff;
    position: absolute;
    top: -52px;
    left: 44px;
}
.cloud--1 span:nth-child(1){
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color:#fff;
    position: absolute;
    top: 60px;
    left: 32px;
}
.cloud--1 span:nth-child(2){
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:#fff;
    position: absolute;
    top: 39px;
    left: 104px;
}
.cloud--2{
    position: absolute;
    top: 97px;
    left: 200px;
}
.cloud--2::before{
    content: "";
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color:#fff;
    position: absolute;
    top: -56px;
    left: 44px;
}
.cloud--3{
    position: absolute;
    top: 123px;
    left: 1550px;
}
.cloud--3::before{
    content: "";
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color:#fff;
    position: absolute;
    top: -9px;
    left: 134px;
}
.cloud--3::after{
    content: "";
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color:#fff;
    position: absolute;
    top: -9px;
    left: -74px;
}
.cloud--3 span:nth-child(1){
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color:#fff;
    position: absolute;
    top: -53px;
    left: -18px;
}
.cloud--3 span:nth-child(1)::before{
    content: "";
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background-color:#fff;
    position: absolute;
    top: -16px;
    left: 132px;
}
.cloud--3 span:nth-child(1)::after{
    content: "";
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background-color:#fff;
    position: absolute;
    top: -16px;
    left: 57px;
}
.cloud--3 span:nth-child(2){
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color:#fff;
    position: absolute;
    top: 27px;
    left: 54px;
}
/* --------------------------------------- */
.nature-block{
    width: 100%;
    height: 700px;
    background-image: url("../images/nature.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 382px;
    left: 0; 
}
.windmill{
    width: 100px;
    height:500px;
    margin-left: 2400px;
    position: relative;
}

.windmill span:nth-child(1){
    width: 600px;
    height: 50px;
    border-radius:30px;
    background-color: gray;
    border: 1px solid rgb(75, 71, 71);
    position: absolute;
    top: -19px;
    right: -226px;
    z-index: 1;
    transform: rotate(16deg);
    transition: all 2s;

}

.windmill span:nth-child(2){
    width: 600px;
    height: 50px;
    border-radius:30px;
    background-color: gray;
    border: 1px solid rgb(75, 71, 71);
    position: absolute;
    top: -10px;
    right: -241px;
    z-index: 1;
    transform: rotate(105deg);
    transition: all 2s;
   
}
.windmill span:hover:nth-child(1){
    transform: rotate(-140deg);
}
.windmill span:hover:nth-child(2){
    transform: rotate(-105deg);
}

.windmill span:nth-child(3){
    content: "";
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: gray;
    border: 1px solid rgb(75, 71, 71);
    position: absolute;
    top: -19px;
    right: 22px;
    z-index: 30;
}
.windmill span:nth-child(4){
    width: 0;
    height: 0;
    border-right:100px solid transparent;
    border-left: 100px solid transparent;
    border-bottom: 500px solid rgb(75, 71, 71);

    position: absolute;
    top: -14px;
    right: -53px;
}
.action-block{
    width: 100%;
    min-height: 1000px;
    position: relative;

}

.road {
   position: relative;
}
.road__body {
    width: 100%;
    height: 600px;
    background-color: rgb(104, 99, 99);
    position: absolute;
    top: 380px;
    left: 0;
}
.sidewalk {
    width: 100%;
    height: 160px;
    background-color: rgb(126, 126, 129);
    box-shadow: 0px 5px 15px  rgb(54, 54, 54);
    position: absolute;
    top: 0px;
    left: 0;
    /* z-index: 2; */
}
.sidewalk::before{
    content: "";
    width: 100%;
    height: 25px;
    background-color: rgb(95, 95, 102);
    position: absolute;
    top: 135px;
    left: 0;
}
.roadway::before {
    content: "";
    width: 500px;
    height: 7px;
    background-color: yellow;
    position: absolute;
    top: 320px;
    left: 50px;
}
.roadway::after {
    content: "";
    width: 500px;
    height: 7px;
    background-color: yellow;
    position: absolute;
    top: 320px;
    left: 875px;
}
.roadway span:nth-child(1) {
    width: 500px;
    height: 7px;
    background-color: yellow;
    position: absolute;
    top: 320px;
    left: 2725px;
}
.roadway span:nth-child(1)::before {
    content: "";
    width: 500px;
    height: 7px;
    background-color: yellow;
    position: absolute;
    top: 0px;
    left: -920px;
}
.roadway span:nth-child(1)::after {
    content: "";
    width: 500px;
    height: 7px;
    background-color: yellow;
    position: absolute;
    top: 0px;
    left: 1078px;
}
.boy {
    width: 172px;
    height: 282px;
    position: absolute;
    top: 207px;
    left: 1700px;
    z-index: 1;
}

.schoolkids {
    width: 360px;
    position: absolute;
    top: -7px;
    left: 300px;
    z-index: 1;
}
.pizza-boy{
    width: 405px;
    position: absolute;
    top: 70px;
    left: 977px;
    transform:rotateY(165deg) ;
    z-index: 1;
}
.car {
    width: 1000px;
    position: absolute;
    top: 570px;
    left: 350px;
}
.car__body{
    
}
.car__top-body {
    width: 263px;
    height: 212px;
    background: linear-gradient(0deg,rgba(184, 174, 174, 0.7) 0%, rgba(201, 197, 197, 0.74) 50%, rgba(252, 249, 247, 1) 100%);
    border: 20px solid  rgb(189, 19, 19);
    position: absolute;
    top: -137px;
    left: 183px;
    border-radius: 16px 265px 89px 80px;
}
.car__top-body:hover{
    background-image: url("../images/women.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center; 
   
}

.car__top-body::after{
    content: "";
    width: 144px;
    height: 150px;
    background: linear-gradient(0deg,rgba(184, 174, 174, 0.7) 0%, rgba(201, 197, 197, 0.74) 50%, rgba(252, 249, 247, 1) 100%);
    border: 20px solid  rgb(189, 19, 19);
    position: absolute;
    top: -19px;
    left: -142px;
    border-radius: 200px 15px 46px 12px;
    
}

.car__bottom-body {
    width: 550px;
    height: 180px;
    background-color: rgb(236, 24, 24);
    border: 6px solid  rgb(189, 19, 19);
   
    border-radius: 130px 200px 20px 15px;
    position: absolute;
    top: 0;
    left: 0;
}
.car__bottom-body::before{
    content:"";
    width: 40px;
    height: 10px;
    background-color: rgb(138, 29, 29);
    border: 6px solid  rgb(189, 19, 19);
    position: absolute;
    top: 35px;
    left: 215px;
    z-index: 2;
}
.car__bottom-body::after{
    content: "";
    width: 560px;
    height: 87px;
    background-color:  rgb(63, 63, 65);
    position: absolute;
    top: 211px;
    left: -93px;
    transform: skewX(287deg);
   
}
.car__bottom-body span:nth-child(1) {
    width: 190px;
    height: 181px;
    background-color: rgb(236, 24, 24);
   
    border: 6px solid  rgb(189, 19, 19);
    border-top: 0;
    position: absolute;
    top: 0px;
    left: 180px; 
    /* transition: all 1s; */
}
.car__bottom-body span:nth-child(2) {
    width: 50px;
    height: 70px;
    background: linear-gradient(90deg,rgb(255, 45, 3) 0%, rgba(237, 69, 50, 1) 50%, rgba(242, 5, 5, 1) 100%);
    border: 6px solid  rgb(189, 19, 19);
    box-shadow: -30px 0 50px rgba(242, 5, 5, 1);
    border-radius: 30px;
    position: absolute;
    top:55px;
    left: -26px; 
    /* transition: all 1s; */
}
.car__bottom-body span:hover:nth-child(2){
    background:rgb(160, 23, 23);
    
}
.car__bottom-body span:nth-child(3) {
    width: 50px;
    height: 70px;
    background: linear-gradient(90deg,rgb(236, 104, 28) 30%, rgb(241, 162, 15) 50%, rgb(241, 186, 3) 100%);
    border: 6px solid  rgb(189, 19, 19);
    box-shadow: 30px 0 50px rgb(241, 186, 3);
    border-radius: 30px 100px 50px;
    position: absolute;
    top:54px;
    left: 502px; 
    /* transition: all 1s; */
}

.car__bottom-body span:hover:nth-child(3){
    background: linear-gradient(90deg,rgb(234, 238, 8) 0%, rgba(253, 167, 29, 1) 50%, rgba(249, 252, 69, 1) 100%);
}
.car__bottom-body span:hover{

}
.car__wheels {
    width: 300px;
    position: relative;
}
.car__wheels::before{
    content: "";
    width:180px;
    height: 150px;
    background-color: rgb(236, 24, 24);
    border: 6px solid  rgb(189, 19, 19);
    border-radius: 50%;
    position: absolute;
    top: 83px;
    left: 14px;
    z-index: 2;
}
.car__wheels::after{
    content: "";
    width:180px;
    height: 150px;
    background-color: rgb(236, 24, 24);
    border: 6px solid  rgb(189, 19, 19);
    border-radius: 50%;
    position: absolute;
    top: 80px;
    left: 344px;
    z-index: 2;
}
.wheel__right,.wheel__left {
    width: 135px;
    height: 135px;
    border: 5px dotted rgb(79, 74, 74);
    box-sizing: border-box;
    border-radius: 50%;
    background-color: rgb(27, 25, 25);  
}
.wheel__right::before,.wheel__left::before{
    content: "";
    width: 60%;
    height:60%;
    border-radius: 50px;
    background: radial-gradient(circle,rgba(79, 74, 74, 1) 0%, rgba(154, 163, 179, 1) 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    translate:-50% -50%;
}
.wheel__right::after,.wheel__left::after{
    content: "";
    width: 70%;
    height:70%;
    border-radius: 50px;
    border: 9px solid rgb(82, 79, 79);
    position: absolute;
    top: 50%;
    left: 50%;
    translate:-50% -50%;
}
.wheel__right{
    position: absolute;
    top: 130px;
    left: 370px;
    z-index: 5;
    /* transition: all 1s; */
}
.wheel__left {
    position: absolute;
    top: 130px;
    left: 40px;
    z-index: 5;
    /* transition: all 1s; */
}
.wheel__right:hover,
.wheel__left:hover{
   transform: rotate(360deg);
}

.bike {
    width: 440px;
    position: absolute;
    top: 527px;
    left: 2125px;
    box-shadow: 15px 15px 5px gray;
}
.bike__body {
    width: 330px;
    height: 38px;
    background-color:rgb(105, 9, 30);;
    position: absolute;
    top: 31px;
    left: 60px;
}
.bike__body::before{
    content: "";
    width: 415px;
    height: 62px;
    background-color:  rgb(63, 63, 65);
    position: absolute;
    top: 47px;
    left: 18px;
    transform: skewX(66deg);

}
.bike__body span:nth-child(1) {
    width: 170px;
    height: 120px;
    background-color: rgb(105, 9, 30);;
    position: absolute;
    top: -88px;
    left: -95px;
    border-radius: 100px 0 0 50px;
}
.bike__body span:nth-child(1)::before{
    content: "";
    width: 35px;
    height: 58px;
    background-color: rgb(255, 208, 0);
    box-shadow: 30px 0px 35px rgb(255, 208, 0);
    border: 6px solid  rgb(189, 19, 19);
    border-radius: 30px 100px 50px;
    transform: rotateY(171deg);
    position: absolute;
    top: 19px;
    left: 0;
}
.bike__body span:nth-child(1)::after{
    content: "";
    width: 35px;
    height: 58px;
    background-color: rgb(255, 208, 0);
    box-shadow: 30px 0px 35px rgb(255, 208, 0);
    border: 6px solid  rgb(189, 19, 19);
    border-radius: 30px 100px 50px;
    transform: rotateY(42deg);
    position: absolute;
    top: 50px;
    left: 482px;
    z-index: 1;
}
.bike__body span:hover:nth-child(1)::before,
.bike__body span:hover:nth-child(1)::after{
    background-color: red;
    box-shadow: 30px 0px 35px red;
}
.bike__body span:nth-child(2) {
    width: 170px;
    height: 120px;
    background-color: rgb(105, 9, 30);
    position: absolute;
    top: -88px;
    left: 250px;
    border-radius: 0 100px 30px 0;
}
.bike__body span:nth-child(2)::before{
    content: "";
    width: 255px;
    height: 25px;
    background-color: rgb(48, 46, 46);
    position: absolute;
    top: 0;
    left: -33px;
}
.bike__body span:nth-child(2)::after{
    content: "PIZZA";
    width: 135px;
    height: 135px;
    color: yellow;
    text-align: center;
    font-size: 35px;
    padding-block: 50px;
    background-color: rgb(223, 26, 26);
    border-radius: 20px 20px 0 0;
    position: absolute;
    top: -128px;
    left: 87px;
}
.bike__body span:nth-child(3) {
    width: 29px;
    height: 120px;
    background-color: rgb(105, 9, 30);
    position: absolute;
    top: -177px;
    left: 77px;
    transform: rotate(31deg);
    border-radius: 0 100px 30px 0;
}
.bike__body span:nth-child(3)::before{
    content: "";
    width: 120px;
    height: 15px;
    background-color: #000;
    border-radius: 10px;
    transform: rotateY(30deg);
    position: absolute;
    top: 0;
    left: -41px;
}
.bike__wheels {
    
    position: relative;
    
}
.circle-one, 
.circle-two {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(65, 60, 60);
    border:5px dashed black;
}
.circle-one{
    position: absolute;
    left: 0;
    top: 0; 
}
.circle-two {
    position: absolute;
    right: 0;
    top: 0;
}