@import url(reset.css);
@import url(fonts.css);

body{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
.wrapper {

    margin: 0 auto;
    padding: 15px; 
    background-color: rgb(228, 233, 184);
}
.wrapper >*:not(:last-child){
    margin-bottom: 40px;
   
} 
[class*="__container"]{
    max-width: 1000px;
    margin: 0 auto;
}
   
.header {
    margin-top: 25px;
}
.header__container {
    margin: 0 auto;
}
.header__nav-menu {
    background-color: rgb(225, 201, 247);
    padding: 25px;
}
.list {
    text-align: center;
}
.list__item {
    display: inline-block;
    
}
.list__item:not(:last-child){
    margin-right: 30px;
}
.list__link {
    font-size: 20px;
    text-transform: uppercase;
}

.section__container>div {
    margin-bottom: 30px;
}
.block {
    border: 1px solid gray;
    padding: 20px;
    margin: 0 auto;
}

.block >*{
    margin-bottom: 20px;
}

.title{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.block__item {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
}
.block__item--yellow {
    background-color: yellow;
    /*position: static;
     top: 30px;
    left:20px; */
}
.block__item--orange {
    background-color: orange;
}
.block__item--green {
    background-color: green;
   
}
.block__item--blue {
    background-color: blue;

}
.relative-block{
    position: relative;
    z-index: 0;
}
.block__item--left{
    position: relative;
    bottom: 40px;
    left: 35px;
}
.block__item--right{
    position: relative;
    top: 24px;
    right: 40px;
    z-index: -1;
}
/* .block__item--center{
    position: relative;
    z-index: 3;
} */
.block__item--bottom{
    position: fixed;
    bottom:0px;
    right:0px;
}
/* .block__item--top{
    position: fixed;
    top: 50%;
    left: 50%;
} */

.absolute-block {
    position: relative;
}
.block__item--1{
    position: absolute;
    top: 80px;
    left: 480px;
}
.sticky-block{
    max-height: 300px;
    overflow: scroll;
}
.sticky-block div{
    width: 100%;
    max-height: 50px;
}
.block__item--one, 
.block__item--two, .block__item--three, 
.block__item--four{
    position: sticky;
    top: -20px;
    left: 0;
}

footer{
    text-align: center;
}
