@import url(reset.css);
@import url(fonts.css);

body{
    font-family: 'lato', sans-serif;
}
header{
    margin-bottom: 30px;
    margin-top: 30px;
}
h1{
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}
.block{
    max-width: 700px;
    min-height: 250px;
    font-size: 20px;
    padding: 15px;
    margin: 20px 30px 40px 10px;
    background-color: rgb(248, 231, 211);
}
.block-1{
    min-width: 700px;
    max-height: 90px;
    padding: 15px 20px;
    margin: 50px 40px;
    background-color: rgb(248, 231, 211);
    box-sizing: content-box;
    overflow: auto;
}
.inline{
    display: block;
    max-width: 300px;
    min-height:30px;
    font-size: 18px;
    padding: 40px;
    margin: 100px;
    background-color: rgb(206, 176, 235);
}
.inline-1{
    max-width: 300px;
    min-height:30px;
    font-size: 18px;
    background-color: rgb(206, 176, 235);
}
.inline-block{
    max-width: 300px;
    min-height: 200px;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 40px;
    padding: 5px;
}
.inline-block-1{
    display: block;
    padding: 18px;
    margin: 50px;
}

/* Furniture */
section{
    max-width: 1180px;
    margin: 0 auto;
    margin-bottom: 200px;
}
.row-1, .row-2{
    font-size: 0;
    margin-left: -34px;
    margin-right: -34px;
}
.row-1{
    margin-bottom: 68px;
}
.title{
    color:#2F302C;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    line-height: 125%;
    text-transform: uppercase;
    margin-bottom: 72px;
}
.card {
    display: inline-block;
    width: 33.333%;
    padding-left: 34px;
    padding-right: 34px;
    text-align: center;
}
.card > h3{
    color:#2F302C;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 125%;
    margin-bottom: 24px;
    text-transform: uppercase;
}
.card > p{
    color: #7E7F7C;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 125%;
}
.card > img{
    margin-bottom: 24px;
}
footer p{
    text-align: center;
    font-size: 14px;
    color:#2F302C;
}


/* варіант №2 - відступи 
Прошу перегляньте, будь-ласка ще цей варіант коду. Цікавить ваша думка - чи взагалі правильно, чи практикують таку стилізацію?*/
/* .section-2{
    width: 1920px;
    padding: 82px 264px;
    margin: 0 auto;
}
.wrap{
    padding-left: 106px;
    padding-right: 106px;
}
.item-1, .item-2{
    max-width: 1180px;
    text-align: center;  
}
.item-1{
    margin-bottom: 68px;

}
.title{
    color:#2F302C;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    line-height: 125%;
    text-transform: uppercase;
    margin-bottom: 72px;
}
.card {
    display: inline-block;
    width: 348px;
    text-align:center;
}
.card > h3{
    color:#2F302C;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 125%;
    margin-bottom: 24px;
}
.card > p{
    color: #7E7F7C;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 125%;
}
.card-1, .card-2, .card-4, .card-5{
    padding-right: 68px;
}
.card > img{
    margin-bottom: 24px;
}
 */
