@import url(reset.css);
@import url(fonts.css);


body{
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
    color:black;  
}
.wrapper > main{
    flex-grow: 1;
}
.wrapper>*:not(:last-child){
    margin-bottom: 80px;
}
[class*="__container"]{
    max-width: 1200px;
    margin: 0 auto;
}
/* header */
.header{
    padding: 20px 0;

}   
.header__title {
    font-size: 30px;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-bottom: 25px; 
}
.list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.list__item {
   
    font-size: 25px;
}
/* form */
.block__container >*:not(:last-child){
    margin-bottom: 60px;
}
.block__item,
.block__item--two {
    width: 700px;
    padding: 30px;
    background-color: azure;
    border: 3px solid #ccc;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.item__title,
.item2__title,
.item3__title {
    font-size: 28px;
    margin-bottom: 25px;
}
.form {
    width: 80%;
    display: flex;
    flex-direction: column;
}
.form__label,
.form2__label,.form3__label {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}
.form__input,
.form2__input, .form2__select,
.form3__input, .form3__select {
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding-inline: 15px;
    font-size: 18px;

    transition: all 0.3s linear;
}
.form__input:not(:last-child),
.form2__input:not(:last-child), 
.form2__select:not(:last-child),
.form3__input:not(:last-child), 
.form3__select:not(:last-child),
.form3__textarea,
.form3__radio-group {
    margin-bottom: 15px;
}
.form__input:focus-visible,
.form__input:focus {
    outline: 2px solid #428688;
}
.form__input:hover{
    background-color: #f4f8f8;
    scale: 1.02;
}
.form__button {
    font-size: 20px;
    width: 200px;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #428688;
    color: white;
    
    cursor: pointer;
    margin: 0 auto;  

    transition: all 0.3s linear;
}
.form__button:hover {
    background-color: #2c6a73;
    scale: 1.05;
}
/* ------------ */
.block__item--two {
    background-color: rgb(201, 163, 201);
    border-radius: 20px;
}
.form2 {
    display: flex;
    flex-direction: column;
}

.form2__input, .form2__select {
    width: 400px;
    background-color: rgb(233, 207, 233);
}
.form2__input:hover, .form2__select:hover {
   background-color: white;
    scale: 1.02;
}
.form2__button {
    background-color: rgb(139, 62, 139);
    color: white;

    transition: all 0.5s linear;
}
.form2__button:hover {
    background-color: rgb(100, 11, 100);
    scale: 1.05;
}
.form2__input:focus-visible,
.form2__input:focus {
    outline: 2px solid  rgb(100, 11, 100);
}
/* product card */
.block__item--three {
    background-color: rgb(236, 233, 233);
    border-radius: 20px;
}
.form3__input, .form3__select{
    width: 100%;
    border-radius: 0px;
    height: 40px;
    border-radius: 10px;

    transition: all 0.6s linear;    
}
.form3__input:hover, .form3__select:hover {
   
    scale: 1.02;
}
.form3__input:focus,
.form3__input:focus-visible{
    outline: 3px solid rgb(109, 105, 105);
}
.form3__textarea{
    min-height: 100px;
    resize: none;
    padding: 10px;
    font-size: 18px;
}
.form3__radio-group,
.form3__checked-group{
    display:flex;
    flex-direction: row;
    gap: 20px;
}
.form3__button-group{
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
}

.form3__button:nth-child(1){
    margin-bottom: 0px;
}
.form3__button{
    width: 250px;
    background-color: rgb(112, 112, 112);
    color: white;

    transition: all 0.5s linear;
}
.form3__button:hover {
    background-color: rgb(68, 68, 68);
    scale: 1.05;
}
/* footer */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
footer p{
    font-size: 20px;
}