@import url(fonts.css);
@import url(reset.css);

body{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    color:  rgba(47, 48, 44, 1);
}
.wrapper {
    position: relative;
    min-height: 100%;
    overflow: clip;

    display: flex;
    flex-direction: column;

    margin: 0 auto;
    padding: 0 15px;
}
.wrapper > main{
    flex-grow: 1;
}
[class*="__container"] {
    max-width: 1392px;
    margin: 0 auto;
}
.header {
    font-size: 30px;
    padding-block: 20px;
}

.header__title {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-bottom: 25px; 
}
.block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 82px;
}
.block>* :not(:last-child){
    margin-bottom: 36px;
}

.block__title {
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 0px;
    color:  rgba(47, 48, 44, 1);
}
.block__text{
    color:  rgba(126, 127, 124, 1);
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-transform: uppercase;
}
.register {
    padding-block: 82px;
}
.register__container {
    display: flex;
    flex-direction: row;
    gap: 80px;
   
}
.register__block {
    flex-basis: 712px;
}
.register__title{
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0px;
    text-transform: uppercase;
    margin-bottom: 36px;
}
.register__block p{
    color: rgba(126, 127, 124, 1);
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 72px;
}

.register__link {
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0px;
    color:  rgba(47, 48, 44, 1);

    transition: text-decoration 0.5s linear;
}
.register__link:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}
.register__form {
    width: 100%;
}
.form {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  
}
.form__input {
    max-width: 336px;
    height: 44px;
    padding-inline: 5px;
    border-bottom: 1px solid  rgba(213, 213, 213, 1);
}

.form__input:hover{
    cursor: pointer;
}
.form__input:focus,
.form__input:focus-visible {
    outline: none;
    border-bottom: 2px solid  rgb(123, 124, 120);
}
.form__input:nth-child(3) {
   max-width: 100%;
}
.form__button {
    max-width: 336px;
    padding: 12px;
    background-color: rgba(47, 48, 44, 1);
    color: #FFFFFF;

    transition: all 0.3s ease;
}
.form__button:hover {
    cursor: pointer;
    background-color: rgb(90, 90, 89); 
    scale: 1.02; 
} 
.register__banner {
    flex-basis: 600px; 
    background:  rgba(246, 246, 246, 1);
    padding:60px 50px 60px 80px;

    display: flex; 
    align-items: flex-end;
    gap: 24px;

    overflow: hidden;
    position: relative;
}
.banner__wrap {
    display: flex;
}
.banner__img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.banner__img img{
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    
}
.banner__content {
   flex: 0 0 184px;
    display: flex;
    
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 24px;
    position: relative;
    z-index: 1;
    
}
.banner__content p {

    text-transform: uppercase;
    border-radius: 4px;
    background: rgba(206, 0, 0, 1);
    padding: 4px 8px;
    color:  rgba(255, 255, 255, 1);


    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    
}
.banner__content h2{
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0px;
   
}

/* footer */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
footer p{
    font-size: 20px;
}